/*====LOGIN FORM===*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root {
    /*=====COLORS===*/
    --body-color: #000;
    --input-color: #bdc3c7;
    --border-color: #dcdde1;
    --light-color: #fff;
    --btn-bg-hover-color: #e21e22;

      /*=====TYPOGRAPHY===*/
      --body-font: 'Josefin Sans', sans-serif;
      --normal-font-size: 1.2rem;
      --small-font-size: 1rem;
}

      /*========BASE==========*/
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--body-color);
    font-weight: (normal);
    font-size: var(--normal-font-size);
}
        /*========Login Form==========*/
.login-main {
    width: 100%;
    min-height: 100vh;
    background: url(../img/bg.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-form {
    max-width: 520px;
    margin: 0 auto;
    background: var(--light-color);
    padding: 60px 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5)
}
.login-form::after {
    content: '';
    width: 195px;
    height: 50px;
    background: url(../img/after.png) no-repeat right top / cover;
    position: absolute;
    top: 0;
    right: 0;
}
.login-form::before {
    content: '';
    width: 195px;
    height: 50px;
    background: url(../img/before.png) no-repeat left bottom / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}
.login-form .logo img {
    height: 80px;
    margin-bottom: 20px;
}
.login-form h3 {
    text-transform: capitalize;
    margin: 0 0 30px;
}
.form-group {
    height: 55px;
    margin-bottom: 20px;
    position: relative;
}
.form-group .form-control {
    height: 100%;
    outline: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: none;
    padding: 1rem;
    font-size: var(--normal-font-size);
}
.form-group .form-control:focus {
    box-shadow: none;
    border-color: var(--body-color);
}
.form-group .form-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: .3s;
    color: var(--input-color);
    background: var(--light-color);
    padding: 0 .25rem;
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown).form-control:not(:focus) + .form-label  {
    top: -.6rem;
    left: .8rem;
    z-index: 10;
    font-size: var(--small-font-size);
    color: var(--body-color);
}
.btn-theme {
    background: var(--body-color);
    color: var(--light-color);
}
.btn-theme:hover {
    background: var(--btn-bg-hover-color);
    color: var(--light-color);
}
